{% extends "base.html" %}


{% block content %}
	<article class="article">
        {% if article.image %}
            {% load thumbnail %}
            {% thumbnail article.image 550x0  quality=80 as thumb %}
            <img class="article__image" src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ thumb.height }}">
        {% endif %}
        <h1 class="article__title">{{ article.name }}</h1>
        {{ article.description|safe }}


        {% with card_list=article.card_set.public %}
            {% if card_list %}
                <h2 class="article__heading2">Карточки</h2>
                {% if not user.is_authenticated %}
                    <div class="article__copy-btn">После <a class="link" href="{% url 'accounts:register' %}">регистрации</a> вы сможете добавить данные карточки в свой набор карточек. Вам станет доступна <a href="" class="link">интервальная система повторений</a>, а так же статистика по изученным карточкам и другие функции</div>
                {% else %}
                    <form action="{% url 'articles:api-copy-article-cards' article.pk %}" method="post" class="article__copy-cards-form">
                        {% csrf_token %}
                        <button class="article__copy-btn m-active">
                            Добавить все&nbsp;карточки в&nbsp;Мои&nbsp;карточки
                        </button>
                    </form>
                {% endif %}
                {% include "cards/card_list.html" %}
            {% endif %}
        {% endwith %}

    </article>
{% endblock %}
