{% extends "base.html" %}

{% load thumbnail %}

{% block extrastyles %}
    <link rel="stylesheet" href="{{ STATIC_URL }}libs/social-likes/social-likes_flat.css">
{% endblock %}

{% block extrascripts %}
    <script src="{{ STATIC_URL }}libs/social-likes/social-likes.min.js"></script>
{% endblock %}

{% block extrahead %}
    <meta property="og:description" content="{{ article.description }}">
    {% if article.image %}
        {% thumbnail article.image 550x0  quality=80 as thumb %}
        <meta property="og:image" content="http://{{ site }}{{ thumb.url }}">
    {% endif %}
{% endblock %}

{% block content %}
	<article class="article">
        {% if article.image %}
            {% thumbnail article.image 550x0  quality=80 as thumb %}
            <img class="article__image" src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ thumb.height }}">
        {% endif %}
        <h1 class="article__title">{{ article.name }}</h1>
        {{ article.description|safe }}


        {% with card_list=article.card_set.public %}
            {% if card_list %}
                <h2 class="article__heading2">Карточки</h2>
                {% if not user.is_authenticated %}
                    <a href="{% url "login" %}" class="article__copy-btn m-active">Добавить все&nbsp;карточки в&nbsp;Мои&nbsp;карточки</a>
                {% else %}
                    <form action="{% url 'articles:api-copy-article-cards' article.pk %}" method="post" class="article__copy-cards-form">
                        {% csrf_token %}
                        <button class="article__copy-btn m-active">
                            Добавить все&nbsp;карточки в&nbsp;Мои&nbsp;карточки
                        </button>
                    </form>
                {% endif %}
                {% include "cards/card_list.html" %}
            {% endif %}
        {% endwith %}

        <div class="article__likes">
            <div class="article__likes-title">Поделиться:</div>
            <div class="social-likes">
                <div class="vkontakte" title="Поделиться ссылкой во Вконтакте">Вконтакте</div>
                <div class="facebook" title="Поделиться ссылкой на Фейсбуке">Facebook</div>
                <div class="twitter" title="Поделиться ссылкой в Твиттере">Twitter</div>
                <div class="mailru" title="Поделиться ссылкой в Моём мире">Мой мир</div>
                <div class="odnoklassniki" title="Поделиться ссылкой в Одноклассниках">Одноклассники</div>
                <div class="plusone" title="Поделиться ссылкой в Гугл-плюсе">Google+</div>
            </div>
        </div>
    </article>
{% endblock %}
