{% extends "base.html" %}

{% block pagetitle %}Редактирование статьи. {% endblock %}

{% block extrascripts %}
    {{ form.media }}
    <script>
        $(document).ready(function() {
            var $cardCreators = $('.card-list .card.m-creator');
            var $cards = $('.card-list .card:not(.m-creator)');
            if ($cards.length < 12) {
                $cardCreators.removeClass('m-hide');
            }

            $cardCreators.each(function() {
                var $articleInput = $('<input type="hidden" name="article" value="' + {{ form.instance.pk }} + '"/>');
                $(this).find('.card__form').append($articleInput);
            });
        });
    </script>
{% endblock %}


{% block content %}
    <section class="article-form">
        <header class="article-form__header">
            <h1 class="article-form__title">Редактирование статьи</h1>
        </header>
        <form method="post" action="" class="article-form__form" enctype="multipart/form-data">
            {% csrf_token %}

            {% if form.errors %}<div class="errorlist">Пожалуйста, исправьте ошибки</div>{% endif %}

            {{ form.non_field_errors }}

            {% for field in form %}
                <p>
                    {{ field.errors }}
                    <label class="{% if field.field.required %}m-required{% endif %}" for="{{ field.id_for_label }}">{{ field.label }}:</label>
                    {{ field }}
                </p>
            {% endfor %}


            <div class="article-formsave-buttons">
                <input type="submit" class="product__button-save" value="Сохранить">
            </div>
        </form>

        <h2 class="article-form__subtitle">Добавление карточек</h2>

        {% with card_list=article.card_set.public %}
            <section class="card-list">
                <div class="card-list__content">
                    <ul class="card-list__list">
                        {% for card in card_list %}
                            {% include "cards/card.html" %}
                        {% endfor %}


                        {% if form.instance.card_set.public.count < 12 %}
                            {% include "cards/card.html" %}
                        {% else %}
                            <li style="color: #555; margin: 20px 0; text-align: center; display: block;">Не более 12 карточек</li>
                        {% endif %}
                    </ul>
                    <div class="card-list__overlay"></div>
                </div>
            </section>
        {% endwith %}
    </section>
{% endblock %}