html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
html {
  overflow-y: scroll; /* fixing "jump horizontally" effect */
}
.m-hide {
  display: none !important;
}
.clear {
  clear: both;
}
.m-bold {
  font-weight: bold;
}
input,
select,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  line-height: inherit;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.html {
  font-size: 17px;
  font-family: Helvetica, sans-serif;
  font-weight: normal;
}
.article-form {
  margin-bottom: 80px;
}
.article-form .card-list__modeswitch {
  display: none !important;
}
.article-form__title {
  font-size: 25px;
  margin-bottom: 15px;
}
.article-form__subtitle {
  font-size: 22px;
  margin-bottom: 15px;
}
.article-form__form a {
  color: #0096f0;
  text-decoration: none;
  cursor: pointer;
}
.article-form__form a:hover,
.article-form__form a.hover {
  color: #f00;
  border-bottom: 1px solid #ccc;
  text-decoration: none;
}
.article-form__form p {
  margin-bottom: 20px;
}
.article-form__form label.m-required {
  font-weight: bold;
}
.article-form__form label[for=id_image] {
  display: block;
  margin: 0 0 5px;
}
.article-form__form input[type=text]:not(.select2-input),
.article-form__form textarea {
  display: block;
  margin: 5px 0;
  width: 100%;
  height: 39px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #999;
  border-bottom-width: 2px;
  border-right-width: 2px;
  padding: 7px 10px;
}
.article-form__form select,
.article-form__form input[type="file"] {
  display: block;
  margin: 5px 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #999;
  border-bottom-width: 2px;
  border-right-width: 2px;
  padding: 7px 10px;
  background-color: #fff;
  height: 39px;
  color: #555;
  vertical-align: middle;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.article-form__form input[type=submit] {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 20px 0 50px;
  padding: 7px 10px;
  font-size: 20px;
  color: #00aeec;
  background-color: #fff;
  border: 1px solid #00a0f0;
  border-bottom-width: 2px;
  border-right-width: 2px;
  border-top-color: rgba(0,160,240,0.6);
  border-left-color: rgba(0,160,240,0.6);
  cursor: pointer;
}
.article-form__form .errorlist {
  color: #f00;
}
.article-form__form .errorlist li {
  margin: 15px 0 5px;
}
.article-form__form .select2-container {
  display: block;
  margin: 5px 0;
  width: 100% !important;
}
.article-form__form .django-ckeditor-widget,
.article-form__form #cke_id_description {
  max-width: 100%;
}
.article-list {
  margin-top: 35px;
}
.article-list__item {
  width: 250px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 55px;
}
.article-list__item:nth-child(odd) {
  margin-right: 50px;
}
.article-list__item-link {
  color: #000;
  text-decoration: none;
  display: block;
}
.article-list__item-link:visited .article-list__item-title {
  color: #555;
}
.article-list__item-link:hover .article-list__item-title {
  color: #f00;
}
.article-list__item-title {
  font-size: 22px;
  line-height: 1.4;
  margin-bottom: 10px;
  font-weight: bold;
}
.article-list__item-subtitle {
  font-size: 17px;
  color: #555;
  margin-bottom: 10px;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
}
.article-list__item:hover .article-list__item-subtitle {
  color: #333;
}
.article-list__item-image {
  margin-bottom: 15px;
  display: block;
}
.article-list__item-infoline {
  font-size: 15px;
  color: #888;
  margin-bottom: 5px;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  transition: opacity 0.2s;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}
.article-list__item:hover .article-list__item-infoline {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.article-list__item-rating {
  font-weight: bold;
  margin-left: 10px;
}
.article-list__item-rating.m-positive {
  color: #0c0;
}
.article-list__item-rating.m-positive::before {
  content: '+';
}
.article-list__item-rating.m-negative {
  color: #f00;
}
.article {
  margin: 25px 0 35px;
}
.article__deck {
  display: block;
  margin: 10px 0;
  max-width: 100%;
}
.article__title {
  font-size: 32px;
  line-height: 1.3;
  margin: 15px 0 20px;
  font-weight: bold;
}
.article__heading2 {
  font-size: 25px;
  line-height: 1.3;
  margin: 20px 0 15px;
  font-weight: bold;
  text-align: center;
}
.article__image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 10px 0;
}
.article__likes {
  margin: 25px 0;
}
.article__likes-title {
  margin: 5px 0;
}
.article__copy-btn {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #8986e2;
  border-bottom-width: 2px;
  border-right-width: 2px;
  padding: 10px 15px;
  color: #555;
  margin-bottom: 25px;
  text-decoration: none;
}
.article__copy-btn:disabled {
  color: #ccc;
}
.article__copy-btn.m-active {
  color: #8986e2;
  cursor: pointer;
  text-align: center;
}
.article__copy-btn.m-active:active {
  background-color: #8986e2;
  color: #fff;
}
.card-list {
  position: relative;
}
.card-list__content {
  margin: 15px 0;
  position: relative;
}
.card-list__overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  z-index: 5;
  display: none;
}
.card-list__filter-list {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #000;
  border-bottom-width: 2px;
  border-right-width: 2px;
  border-top: none;
  margin: 0 0 25px 0;
}
.card-list__filter-list.m-to-learn {
  border-color: rgba(0,160,240,0.6);
}
.card-list__filter-list.m-new {
  border-color: rgba(0,160,240,0.6);
}
.card-list__filter-list.m-to-repeat {
  border-color: rgba(0,160,240,0.6);
}
.card-list__filter-list.m-learned {
  border-color: rgba(0,160,240,0.6);
}
.card-list__filter-list-item {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0 0 33%;
  -ms-flex: 0 0 33%;
  flex: 0 0 33%;
  text-align: center;
/*font-weight: bold;*/
  font-size: 17px;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  transition: background-color 0.2s;
  cursor: pointer;
  color: #555;
  white-space: nowrap;
}
.card-list__filter-list-item:hover {
  background-color: #f7f7f7;
}
.card-list__filter-list-item-count {
  position: relative;
  bottom: 4px;
  left: 2px;
  display: inline-block;
  font-size: 12px;
/*font-weight: bold;*/
  width: 0;
  color: #999;
}
.card-list__filter-list-item-link.m-active .card-list__filter-list-item-count {
  color: #fff;
}
.card-list__filter-list-item-link {
  display: block;
  text-decoration: none;
  padding: 11px 0;
  color: #555;
}
.card-list__filter-list-item-link.m-to-learn.m-active {
  background-color: rgba(0,160,240,0.6);
  color: #fff;
}
.card-list__filter-list-item-link.m-to-repeat.m-active {
  background-color: rgba(0,160,240,0.6);
  color: #fff;
}
.card-list__filter-list-item-link.m-learned.m-active {
  background-color: rgba(0,160,240,0.6);
  color: #fff;
}
.card-list__modeswitch {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #000;
  border-bottom-width: 2px;
  border-right-width: 2px;
  margin: 0;
}
.card-list__modeswitch.m-normal {
  border-color: #ffa500;
}
.card-list__modeswitch.m-repeat {
  border-color: #008000;
}
.card-list__modeswitch-item {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 0 50%;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
  text-align: center;
  padding: 10px 0;
/*font-weight: bold;*/
  font-size: 18px;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  transition: background-color 0.2s;
  cursor: pointer;
  color: #555;
}
.card-list__modeswitch-item:hover {
  background-color: #f7f7f7;
}
.card-list__modeswitch-item.m-normal.m-active {
  background-color: #ffa500;
  color: #fff;
}
.card-list__modeswitch-item.m-repeat-right.m-active {
  background-color: #008000;
  color: #fff;
}
.card-list__modeswitch-item.m-repeat-right.m-active::after {
  display: inline-block;
  position: relative;
  right: -10px;
  bottom: 1px;
  width: 0;
  content: '▶';
  font-size: 12px;
}
.card-list__modeswitch-item.m-repeat-right.m-active:hover {
  background-color: #007000;
}
.card-list__modeswitch-item.m-repeat-left.m-active {
  background-color: #008000;
  color: #fff;
}
.card-list__modeswitch-item.m-repeat-left.m-active::before {
  display: inline-block;
  position: relative;
  left: -21px;
  bottom: 1px;
  width: 0;
  content: '◀';
  font-size: 12px;
}
.card-list__modeswitch-item.m-repeat-left.m-active:hover {
  background-color: #007000;
}
.card {
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #00c3ff;
  border-right-width: 2px;
  border-bottom-width: 2px;
  margin: 10px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  list-style: none;
  color: #000;
}
.card.m-creator.m-quick-creator {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  margin: 0;
  z-index: 200;
}
.card__content {
  padding: 11px 22px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.card__content.editable {
  cursor: pointer;
}
.card__content.m-to-repeat {
  padding-left: 17px;
  border-left: 5px solid #00c3ff;
}
.card__top {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -o-box-lines: single;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  position: relative;
}
.card__front,
.card__back {
  line-height: 22px;
  min-height: 22px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
/*vertical-align: top;*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.card__front {
  padding-left: 0;
  padding-right: 10px;
  font-size: 20px;
  position: relative;
}
.card__front-word {
  font-weight: bold;
  margin-right: 7px;
}
.card__front-pron {
  color: #999;
  font-size: 18px;
  white-space: nowrap;
}
.card__front-pron.with-audio {
  cursor: pointer;
}
.card__front-pron.with-audio:hover {
  color: #00f;
}
.card__back {
  padding-right: 0;
  font-size: 18px;
  color: #333;
}
.card__level {
  position: absolute;
  font-weight: bold;
  font-size: 16px;
  top: 5px;
  right: 6px;
  z-index: 5;
}
.card__level.m-repeated-today {
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
}
.card__level.level1 {
  color: #f00;
}
.card__level.level2 {
  color: #080;
}
.card__level.level3 {
  color: #080;
}
.card__level.level4 {
  color: #080;
}
.card__level.level5 {
  color: #00f;
}
.card__example {
  font-size: 15px;
  line-height: 17px;
  color: #aaa;
  padding: 0;
  margin: 11px 0 0;
  list-style: none;
}
.card__example > li:not(:last-of-type) {
  margin-bottom: 5px;
}
.card__audio {
  display: none;
}
.card__image {
  max-width: 100%;
  display: block;
  margin: 15px 0 5px;
  padding: 0;
}
.card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
/*line-height: 49px;*/
  text-align: center;
  font-size: 20px;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  z-index: 10;
  display: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.card__overlay.m-active {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.card__overlay.m-next-repeat {
  font-size: 15px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  color: #999;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
  z-index: 3;
}
.card__overlay.m-next-repeat:hover {
  color: #555;
}
.card__overlay.m-error {
  color: #f00;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.card__overlay.m-left,
.card__overlay.m-right {
  cursor: pointer;
  font-size: 16px;
  color: #ccc;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
  text-align: left;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  z-index: 3;
}
.card__overlay.m-left:hover,
.card__overlay.m-right:hover {
  color: #555;
}
.card__overlay.m-left {
  left: 5px;
  right: 50%;
  padding-left: 17px;
}
.card__overlay.m-right {
  left: 50%;
}
.card__infoline {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  padding: 7px 22px;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
/*border-top: 1px solid #ddd;*/
  background-color: rgba(0,195,255,0.1);
}
.card__infoline-item {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-size: 13px;
  line-height: 1.4;
  color: #333;
}
.card__controls {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  padding: 5px 22px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
/*border-top: 1px solid rgba(0,195,255,0.3);*/
  background-color: rgba(0,195,255,0.2);
}
.card__controls--level-change {
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  padding-left: 0;
  padding-right: 0;
}
.card__controls-item {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin: 3px 0;
}
.card__controls-item--single {
  margin-left: auto;
  margin-right: auto;
}
.card__button {
  color: #fff;
  font-size: 16px;
  padding: 6px 11px 5px 12px;
  line-height: 1;
  display: block;
  cursor: pointer;
  border: 1px solid #888;
  border-bottom-width: 2px;
  border-right-width: 2px;
  background-color: #fff;
}
.card__button--add {
  border-color: #008000;
  color: #008000;
}
.card__button--add:active,
.card__button--add.active {
  color: #fff;
  background-color: #008000;
}
.card__button--remove {
  border-color: #f00;
  color: #008000;
}
.card__button--remove:active,
.card__button--remove.active {
  color: #fff;
  background-color: #f00;
}
.card__button--copy {
  border-color: #8986e2;
  color: #8986e2;
}
.card__button--copy:active,
.card__button--copy.active {
  color: #fff;
  background-color: #8986e2;
}
.card__button--edit {
  border-color: #ffa500;
  color: #ffa500;
}
.card__button--edit:active,
.card__button--edit.active {
  color: #fff;
  background-color: #ffa500;
}
.card__button--forget {
  border-color: #ff6464;
  color: #ff6464;
}
.card__button--forget:active,
.card__button--forget.active {
  color: #fff;
  background-color: #ff6464;
}
.card__button--learned {
  border-color: #64c864;
  color: #64c864;
}
.card__button--learned:active,
.card__button--learned.active {
  color: #fff;
  background-color: #64c864;
}
.card__button:disabled {
  background-color: #fff;
  border-color: #aaa;
  color: #ccc;
  cursor: default;
}
.card__button:disabled:active {
  background-color: #fff;
  color: #ccc;
}
.card__form-image {
  margin-top: 10px;
}
.card__form-input {
  display: block;
  width: 100%;
  line-height: 24px;
  height: 24px;
  padding: 0;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(0,195,255,0.5);
}
.card__form-input[name=front] {
  font-weight: bold;
}
.card__form-input[name=example] {
  resize: vertical;
  height: auto;
  line-height: inherit;
  padding: 4px 0;
  margin-top: -4px;
}
.card__form-input[name=example]::-webkit-input-placeholder {
  font-size: inherit;
}
.card__form-input[name=example]:-moz-placeholder {
/* Firefox 18- */
  font-size: inherit;
}
.card__form-input[name=example]::-moz-placeholder {
/* Firefox 19+ */
  font-size: inherit;
}
.card__form-input[name=example]:-ms-input-placeholder {
  font-size: inherit;
}
.card__form ::-webkit-input-placeholder {
  font-weight: normal;
  font-size: 16px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  color: #aaa;
}
.card__form :-moz-placeholder {
/* Firefox 18- */
  font-weight: normal;
  font-size: 16px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  color: #aaa;
}
.card__form ::-moz-placeholder {
/* Firefox 19+ */
  font-weight: normal;
  font-size: 16px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  color: #aaa;
}
.card__form :-ms-input-placeholder {
  font-weight: normal;
  font-size: 16px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  color: #aaa;
}
.cards-goal {
  margin: 30px 0;
}
.cards-goal .social-likes {
  margin-top: 35px;
  text-align: center;
}
.cards-goal__title {
  text-align: center;
  font-size: 35px;
  margin: -23px 0 38px;
  border-bottom: 2px solid rgba(0,160,240,0.35);
}
.cards-goal__title-word {
  color: #00a0f0;
  background-color: #fff;
  position: relative;
  bottom: -23px;
  padding: 0 20px;
}
.cards-goal__number {
  text-align: center;
  font-size: 50px;
  margin: 15px 0;
  font-weight: bold;
}
.cards-goal__text {
  text-align: center;
}
.cards-goal__per-day {
  color: #999;
  text-align: center;
  margin: 2px 0;
  font-size: 16px;
}
.cards-goal__completed {
  text-align: center;
  font-size: 30px;
  color: #008000;
  margin: 15px 0;
}
.cards-goal__not-active {
  text-align: center;
  font-size: 20px;
  color: #999;
  margin: 15px 0;
}
.cards-goal__progress {
  text-align: center;
  font-weight: bold;
  margin: 25px 0 10px;
  font-size: 20px;
  color: #555;
}
.cards-goal__progress-line {
  width: 100%;
  margin-top: 10px;
  border-bottom: 1px solid #ddd;
}
.cards-goal__progress-line-fill {
  background-color: #00a0f0;
  height: 3px;
  position: relative;
  bottom: -1px;
}
.cards-goal__schedule {
  text-align: center;
  margin: 12px 0;
  color: #999;
}
.cards-goal__signup {
  margin-top: 35px;
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #8986e2;
  border-bottom-width: 2px;
  border-right-width: 2px;
  padding: 10px 15px;
  color: #555;
}
.cards-goal__form {
  margin: 30px 0;
}
.cards-goal__form-title {
  font-size: 25px;
  margin: 10px 0;
}
.cards-goal__form .errorlist {
  color: #f00;
  margin-bottom: 5px;
}
.cards-goal__form label {
  color: #555;
}
.cards-goal__form input {
  display: block;
  width: 5em;
  margin-bottom: 15px;
}
.cards-goal__form input#id_number {
  width: 10em;
}
.content {
  display: block;
  max-width: 550px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  margin-top: 25px;
  margin-bottom: 35px;
}
.content__overlay {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
  opacity: 0.92;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=92)";
  filter: alpha(opacity=92);
  z-index: 5;
}
.flatcontent {
  margin: 35px 0;
}
.flatcontent a {
  color: #0096f0;
  text-decoration: none;
  cursor: pointer;
}
.flatcontent a:hover,
.flatcontent a.hover {
  color: #f00;
  border-bottom: 1px solid #ccc;
  text-decoration: none;
}
.flatcontent img {
  max-width: 100%;
  height: auto !important;
}
.flatcontent table {
  max-width: 100%;
}
.flatcontent h1 {
  font-size: 2em;
  margin: 0.67em 0;
  line-height: 1.1;
}
.flatcontent h2 {
  font-size: 1.5em;
  margin: 0.75em 0;
  line-height: 1.2;
}
.flatcontent h3 {
  font-size: 1.17em;
  margin: 0.83em 0;
  line-height: 1.2;
}
.flatcontent h4,
.flatcontent p,
.flatcontent blockquote,
.flatcontent ul,
.flatcontent fieldset,
.flatcontent form,
.flatcontent ol,
.flatcontent dl,
.flatcontent dir,
.flatcontent menu {
  margin: 1.12em 0;
}
.flatcontent h5 {
  font-size: 0.83em;
  margin: 1.5em 0;
}
.flatcontent h6 {
  font-size: 0.75em;
  margin: 1.67em 0;
}
.flatcontent h1,
.flatcontent h2,
.flatcontent h3,
.flatcontent h4,
.flatcontent h5,
.flatcontent h6,
.flatcontent b,
.flatcontent strong {
  font-weight: bolder;
}
.flatcontent blockquote {
  margin-left: 40px;
  margin-right: 40px;
}
.flatcontent i,
.flatcontent cite,
.flatcontent em,
.flatcontent var,
.flatcontent address {
  font-style: italic;
}
.flatcontent pre,
.flatcontent tt,
.flatcontent code,
.flatcontent kbd,
.flatcontent samp {
  font-family: monospace;
}
.flatcontent pre {
  white-space: pre;
}
.flatcontent button,
.flatcontent textarea,
.flatcontent input,
.flatcontent select {
  display: inline-block;
}
.flatcontent big {
  font-size: 1.17em;
}
.flatcontent small,
.flatcontent sub,
.flatcontent sup {
  font-size: 0.83em;
}
.flatcontent sub {
  vertical-align: sub;
}
.flatcontent sup {
  vertical-align: super;
}
.flatcontent table {
  border-spacing: 2px;
}
.flatcontent thead,
.flatcontent tbody,
.flatcontent tfoot {
  vertical-align: middle;
}
.flatcontent td,
.flatcontent th,
.flatcontent tr {
  vertical-align: inherit;
}
.flatcontent s,
.flatcontent strike,
.flatcontent del {
  text-decoration: line-through;
}
.flatcontent hr {
  border: 1px inset;
}
.flatcontent ol,
.flatcontent ul,
.flatcontent dir,
.flatcontent menu,
.flatcontent dd {
  margin-left: 40px;
}
.flatcontent ol {
  list-style-type: decimal;
}
.flatcontent ul {
  list-style-type: disc;
}
.flatcontent ol ul,
.flatcontent ul ol,
.flatcontent ul ul,
.flatcontent ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
.flatcontent u,
.flatcontent ins {
  text-decoration: underline;
}
.flatcontent br:before {
  content: "\A";
  white-space: pre-line;
}
.flatcontent center {
  text-align: center;
}
.flatcontent table td {
  border: 1px solid #000;
}
.flatcontent table {
  border-collapse: separate;
}
.header {
  background-color: #00a0f0;
}
.header__wrapper {
  display: block;
  max-width: 550px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}
.header__menu {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px 0;
  position: relative;
  color: #fff;
}
.header__menu-item {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin: 5px 15px 5px 0;
  position: relative;
  font-size: 18px;
  line-height: 25px;
}
.header__menu-item:last-child {
  margin-right: 0;
}
.header__menu-item--fill {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 0;
}
.header__menu-slogan {
  padding: 7px 10px;
}
.header__menu-repeat-count {
  background-color: #fff;
  color: #00a0f0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 6px;
  -webkit-border-radius: 11px;
  border-radius: 11px;
  line-height: 22px;
  height: 22px;
  min-width: 22px;
  text-align: center;
  display: block;
  -webkit-transition: opacity 0.1s;
  -moz-transition: opacity 0.1s;
  -o-transition: opacity 0.1s;
  -ms-transition: opacity 0.1s;
  transition: opacity 0.1s;
  font-size: 15px;
  position: absolute;
  right: -10px;
  top: -11px;
  text-decoration: none;
  border: 1px solid #fff;
}
.header__menu-link--mycards.active + .header__menu-repeat-count {
  border: 1px solid #fff !important;
  background: -webkit-linear-gradient(top, #ff4832, #cf0404);
  background: -moz-linear-gradient(top, #ff4832, #cf0404);
  background: -o-linear-gradient(top, #ff4832, #cf0404);
  background: -ms-linear-gradient(top, #ff4832, #cf0404);
  background: linear-gradient(to bottom, #ff4832, #cf0404);
  color: #fff;
}
.header__menu-link--mycards.active + .header__menu-repeat-count:hover {
  background: -webkit-linear-gradient(top, #ff6a51, #fc0404);
  background: -moz-linear-gradient(top, #ff6a51, #fc0404);
  background: -o-linear-gradient(top, #ff6a51, #fc0404);
  background: -ms-linear-gradient(top, #ff6a51, #fc0404);
  background: linear-gradient(to bottom, #ff6a51, #fc0404);
}
.header__menu-link {
  display: block;
  border: 1px solid #fff;
  text-decoration: none;
  color: #fff;
  padding: 7px 10px;
  -webkit-transition: background-color 0.1s, opacity 0.1s;
  -moz-transition: background-color 0.1s, opacity 0.1s;
  -o-transition: background-color 0.1s, opacity 0.1s;
  -ms-transition: background-color 0.1s, opacity 0.1s;
  transition: background-color 0.1s, opacity 0.1s;
  cursor: pointer;
}
.header__menu-link:hover:not(.active):not(.loading):not(.header__menu-link--logo) {
  background-color: rgba(0,0,0,0.1);
}
.header__menu-link.active {
  background-color: #fff;
  color: #00a0f0;
}
.header__menu-link--logo {
  font-size: 25px;
  line-height: 25px;
  text-decoration: none;
  color: #00a0f0;
  background-color: #fff;
  padding: 7px 15px;
}
.header__menu-link--add {
  border: 1px solid #fff;
  font-size: 23px;
  position: relative;
  padding-left: 12px;
  padding-right: 12px;
}
.header__menu-link--add.active {
  background-color: #fff;
  color: #00a0f0;
}
.header__menu-link--add.loading {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  pointer: default;
}
.link {
  color: #0096f0;
  text-decoration: none;
  cursor: pointer;
}
.link:hover,
.link.hover {
  color: #f00;
  border-bottom: 1px solid #ccc;
  text-decoration: none;
}
.page {
  line-height: 1.3;
  color: #000;
  margin: 0 auto;
/*background-color: #f5f5f5;*/
}
.paginator {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -o-box-lines: single;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  border: 1px solid #62b69b;
  border-bottom-width: 2px;
  border-right-width: 2px;
  margin: 15px 0 15px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.paginator__item {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: center;
  font-size: 15px;
  line-height: 39px;
}
.paginator__item--fastnav {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0 0 110px;
  -ms-flex: 0 0 110px;
  flex: 0 0 110px;
}
.paginator__link {
  text-decoration: none;
  display: block;
  color: #62b69b;
}
.paginator__link:hover {
  background-color: rgba(98,182,155,0.1);
}
.paginator__link.active {
  color: #fff;
  background-color: #62b69b;
}
.paginator__inactivelink {
  display: block;
  color: #ddd;
}
.profile__title {
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: bold;
}
.profile__subtitle {
  font-size: 20px;
  margin: 35px 0 10px;
  font-weight: bold;
  color: #333;
  border-bottom: 1px solid rgba(0,160,240,0.5);
}
.profile__subtitle-link {
  font-size: 16px;
  font-weight: normal;
  margin-left: 10px;
}
.profile__statistics-item {
  margin: 7px 0;
}
.profile__article-list-item {
  margin-bottom: 15px;
  border-left: 5px solid rgba(0,160,240,0.3);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 10px;
}
.profile__article-list-item-title {
  font-weight: bold;
}
.profile__share {
  margin: 10px 0;
  color: #555;
}
.profile__share-title {
  margin-bottom: 5px;
}
.profile__goal-completed {
  color: #008000;
}
.profile__goal-text {
  font-size: 19px;
  margin: 5px 0;
}
.profile__goal-per-day {
  color: #888;
  font-size: 17px;
}
.profile__goal-behind-schedule-count {
  font-weight: bold;
  color: #f00;
}
.profile__goal-ahead-schedule-count {
  font-weight: bold;
  color: #008000;
}
.registration {
  max-width: 380px;
  margin: 45px auto;
}
.registration h1 {
  font-size: 25px;
}
.registration p {
  margin: 15px 0;
}
.registration p.centered {
  text-align: center;
}
.registration a {
  color: #0096f0;
  text-decoration: none;
  cursor: pointer;
}
.registration a:hover,
.registration a.hover {
  color: #f00;
  border-bottom: 1px solid #ccc;
  text-decoration: none;
}
.registration form {
  margin: 20px 0;
}
.registration form p {
  margin-top: 0;
}
.registration form .errorlist {
  color: #f00;
  margin: 20px 0 5px;
}
.registration form .helptext {
  display: block;
  color: #999;
  font-size: 15px;
}
.registration form .helptext b {
  color: #777;
  font-weight: bold;
}
.registration form label {
  display: block;
  margin: 5px 0;
  color: #333;
}
.registration form input {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 15px;
  margin: 5px 0;
  border: 1px solid #009600;
  border-top-color: rgba(0,150,0,0.6);
  border-left-color: rgba(0,150,0,0.6);
  border-bottom-width: 2px;
  border-right-width: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
}
.registration form input[type=submit] {
  margin: 30px 0;
  font-size: 20px;
  color: #00aeec;
  background-color: #fff;
  border: 1px solid #00a0f0;
  border-top-color: rgba(0,160,240,0.6);
  border-left-color: rgba(0,160,240,0.6);
  border-bottom-width: 2px;
  border-right-width: 2px;
  cursor: pointer;
}
