html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
html {
  overflow-y: scroll; /* fixing "jump horizontally" effect */
}
.hide {
  display: none;
}
.clear {
  clear: both;
}
input,
select,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  line-height: inherit;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.html {
  font-size: 17px;
  font-family: Helvetica, sans-serif;
  font-weight: normal;
}
.card-list {
  position: relative;
}
.card-list__content {
  margin: 25px 0;
  position: relative;
}
.card-list__overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  z-index: 5;
  display: none;
}
.card-list__modeswitch {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #000;
  border-bottom-width: 2px;
  border-right-width: 2px;
  margin: 25px 0 15px;
}
.card-list__modeswitch.learn {
  border-color: #ffa500;
}
.card-list__modeswitch.repeat {
  border-color: #008000;
}
.card-list__modeswitch-item {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 0 50%;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
  text-align: center;
  padding: 10px 0;
/*font-weight: bold;*/
  font-size: 18px;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  transition: background-color 0.2s;
  cursor: pointer;
  color: #555;
}
.card-list__modeswitch-item:hover {
  background-color: #f7f7f7;
}
.card-list__modeswitch-item.learn.active {
  background-color: #ffa500;
  color: #fff;
}
.card-list__modeswitch-item.repeat.active {
  background-color: #008000;
  color: #fff;
}
.card {
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #00c3ff;
  border-right-width: 2px;
  border-bottom-width: 2px;
  margin: 10px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.card__content.editable {
  cursor: pointer;
}
.card__top {
  padding: 11px 0;
}
.card__front,
.card__back {
  line-height: 22px;
  display: inline-block;
  width: 50%;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.card__front {
  padding-left: 22px;
  padding-right: 10px;
  font-size: 20px;
}
.card__front-word {
  font-weight: bold;
  margin-right: 7px;
}
.card__front-pron {
  color: #999;
  font-size: 18px;
  white-space: nowrap;
}
.card__front-pron.with-audio {
  cursor: pointer;
}
.card__front-pron.with-audio:hover {
  color: #00f;
}
.card__back {
  padding-right: 22px;
  font-size: 18px;
  color: #333;
}
.card__example {
  font-size: 15px;
  line-height: 17px;
  color: #888;
  padding: 0;
  margin: 3px 22px 10px;
}
.card__audio {
  display: none;
}
.card__image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 5px auto 15px;
  padding: 0 22px;
}
.card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  line-height: 49px;
  text-align: center;
  font-size: 20px;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.card__overlay.left,
.card__overlay.right {
  cursor: pointer;
  font-size: 16px;
  color: #ddd;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
  text-align: left;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.card__overlay.left:hover,
.card__overlay.right:hover {
  color: #555;
}
.card__overlay.left {
  right: 50%;
}
.card__overlay.right {
  left: 50%;
}
.card__infoline {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  padding: 7px 22px;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
/*border-top: 1px solid #ddd;*/
  background-color: rgba(0,195,255,0.1);
}
.card__infoline-item {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-size: 13px;
  line-height: 1.4;
  color: #333;
}
.card__controls {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  padding: 5px 22px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
/*border-top: 1px solid rgba(0,195,255,0.3);*/
  background-color: rgba(0,195,255,0.2);
}
.card__controls--repeating {
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  padding-left: 0;
  padding-right: 0;
}
.card__controls-item {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin: 3px 0;
}
.card__controls-item--single {
  margin-left: auto;
  margin-right: auto;
}
.card__button {
  color: #fff;
  font-size: 16px;
  padding: 6px 11px 5px 12px;
  line-height: 1;
  display: block;
  cursor: pointer;
  border: 1px solid #888;
  border-bottom-width: 2px;
  border-right-width: 2px;
  background-color: #fff;
}
.card__button--add {
  border-color: #008000;
  color: #008000;
}
.card__button--add:active,
.card__button--add.active {
  color: #fff;
  background-color: #008000;
}
.card__button--remove {
  border-color: #f00;
  color: #008000;
}
.card__button--remove:active,
.card__button--remove.active {
  color: #fff;
  background-color: #f00;
}
.card__button--edit {
  border-color: #ffa500;
  color: #ffa500;
}
.card__button--edit:active,
.card__button--edit.active {
  color: #fff;
  background-color: #ffa500;
}
.card__button--forget {
  border-color: #ff6464;
  color: #ff6464;
}
.card__button--forget:active,
.card__button--forget.active {
  color: #fff;
  background-color: #ff6464;
}
.card__button--learned {
  border-color: #64c864;
  color: #64c864;
}
.card__button--learned:active,
.card__button--learned.active {
  color: #fff;
  background-color: #64c864;
}
.card__form--create {
  position: absolute;
  top: 80px;
  left: 15px;
  right: 15px;
  margin: 0;
  z-index: 10;
}
.card__form-input {
  display: block;
  width: 100%;
  line-height: 24px;
  height: 24px;
  padding: 0;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(0,195,255,0.5);
}
.card__form-input[name=front] {
  font-weight: bold;
}
.card__form-input[name=example] {
  resize: vertical;
  height: auto;
  line-height: inherit;
  padding: 4px 0;
  margin-top: -4px;
}
.card__form ::-webkit-input-placeholder {
  font-weight: normal;
  font-size: 16px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  color: #aaa;
}
.card__form :-moz-placeholder {
/* Firefox 18- */
  font-weight: normal;
  font-size: 16px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  color: #aaa;
}
.card__form ::-moz-placeholder {
/* Firefox 19+ */
  font-weight: normal;
  font-size: 16px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  color: #aaa;
}
.card__form :-ms-input-placeholder {
  font-weight: normal;
  font-size: 16px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  color: #aaa;
}
.content {
  display: block;
  max-width: 550px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  margin-top: 25px;
  margin-bottom: 35px;
}
.content__overlay {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
  opacity: 0.92;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=92)";
  filter: alpha(opacity=92);
  z-index: 5;
}
.deck {
  margin: 25px 0 35px;
}
.deck__deck {
  display: block;
  margin: 10px 0;
  max-width: 100%;
}
.deck__title {
  font-size: 27px;
  line-height: 1.3;
  margin: 15px 0 20px;
  font-weight: bold;
}
.deck__image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 10px 0;
}
.header {
  background-color: #00a0f0;
}
.header__wrapper {
  display: block;
  max-width: 550px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}
.header__menu {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px 0;
}
.header__menu-item {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin: 5px 10px 5px 0;
}
.header__menu-item:last-child {
  margin-right: 0;
}
.header__menu-item--fill {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 0;
}
.header__menu-link {
  display: block;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
  color: #fff;
  padding: 7px 12px;
  -webkit-transition: background-color 0.1s, opacity 0.1s;
  -moz-transition: background-color 0.1s, opacity 0.1s;
  -o-transition: background-color 0.1s, opacity 0.1s;
  -ms-transition: background-color 0.1s, opacity 0.1s;
  transition: background-color 0.1s, opacity 0.1s;
  cursor: pointer;
}
.header__menu-link:hover:not(.active):not(.loading):not(.header__menu-link--logo) {
  background-color: rgba(0,0,0,0.1);
}
.header__menu-link.active {
  background-color: #fff;
  color: #00a0f0;
}
.header__menu-link--logo {
  font-size: 25px;
  line-height: 25px;
  text-decoration: none;
  color: #00a0f0;
  background-color: #fff;
  padding: 7px 15px;
}
.header__menu-link--add {
  border: 1px solid #fff;
  font-size: 23px;
  position: relative;
  padding: 6px 12px;
}
.header__menu-link--add.active {
  background-color: #fff;
  color: #00a0f0;
}
.header__menu-link--add.loading {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  pointer: default;
}
.page {
  line-height: 1.3;
  color: #000;
  margin: 0 auto;
/*background-color: #f5f5f5;*/
}
.pages {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -o-box-lines: single;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  border: 1px solid #62b69b;
  border-bottom-width: 2px;
  border-right-width: 2px;
  margin: 15px 0 15px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.pages__item {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: center;
  font-size: 15px;
  line-height: 39px;
}
.pages__item--fastnav {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0 0 110px;
  -ms-flex: 0 0 110px;
  flex: 0 0 110px;
}
.pages__link {
  text-decoration: none;
  display: block;
  color: #62b69b;
}
.pages__link:hover {
  background-color: rgba(98,182,155,0.1);
}
.pages__link.active {
  color: #fff;
  background-color: #62b69b;
}
.pages__inactivelink {
  display: block;
  color: #ddd;
}
.registration {
  max-width: 380px;
  margin: 45px auto;
}
.registration h1 {
  font-size: 25px;
}
.registration p {
  margin: 15px 0;
}
.registration p.centered {
  text-align: center;
}
.registration a {
  color: #0096f0;
  text-decoration: none;
  cursor: pointer;
}
.registration a:hover,
.registration a.hover {
  text-decoration: underline;
}
.registration form {
  margin: 20px 0;
}
.registration form p {
  margin-top: 0;
}
.registration form .errorlist {
  color: #f00;
  margin: 20px 0 5px;
}
.registration form .helptext {
  display: block;
  color: #999;
  font-size: 15px;
}
.registration form .helptext b {
  color: #777;
  font-weight: bold;
}
.registration form label {
  display: block;
  margin: 5px 0;
  color: #646464;
}
.registration form input {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 15px;
  margin: 5px 0;
  border: 1px solid #646464;
  border-top-color: rgba(100,100,100,0.6);
  border-left-color: rgba(100,100,100,0.6);
  border-bottom-width: 2px;
  border-right-width: 2px;
}
.registration form input[type=submit] {
  margin: 30px 0;
  font-size: 20px;
  color: #00aeec;
  background-color: #fff;
  border: 1px solid #00a0f0;
  border-top-color: rgba(0,160,240,0.6);
  border-left-color: rgba(0,160,240,0.6);
  border-bottom-width: 2px;
  border-right-width: 2px;
  cursor: pointer;
}
