.article-form {
    margin-bottom: 80px;

    .card-list__modeswitch {
        display: none !important;
    }

    &__title {
        font-size: 25px;
        margin-bottom: 15px;
    }

    &__subtitle {
        font-size: 22px;
        margin-bottom: 15px;
    }

    &__form {

        a {
            link()
        }

        p {
            margin-bottom: 20px;
        }

        label.m-required {
            font-weight: bold;
        }

        label[for=id_image] {
            display: block;
            margin: 0 0 5px;
        }

        input[type=text]:not(.select2-input), textarea {
            display: block;
            margin: 5px 0;
            width: 100%;
            height: 39px;
            box-sizing: border-box;
            border: 1px solid #999;
            border-bottom-width: 2px;
            border-right-width: 2px;
            padding: 7px 10px;
        }

        select, input[type="file"] {
            display: block;
            margin: 5px 0;
            width: 100%;
            box-sizing: border-box;
            border: 1px solid #999;
            border-bottom-width: 2px;
            border-right-width: 2px;
            padding: 7px 10px;
            background-color: #fff;
            height: 39px;
            color: #555;
            vertical-align: middle;
            border-radius: 0;
        }


        input[type=submit] {
            display: block;
            width: 100%;
            box-sizing: border-box;
            margin: 20px 0 50px;
            padding: 7px 10px;
            font-size: 20px;
            color: #00aeec;
            background-color: #fff;
            border: 1px solid mainColor(1);
            border-bottom-width: 2px;
            border-right-width: 2px;
            border-top-color: mainColor(0.6);
            border-left-color: mainColor(0.6);
            cursor: pointer;
        }

        .errorlist {
            color: red;

            li {
                margin: 15px 0 5px;
            }
        }

        .select2-container {
            display: block;
            margin: 5px 0;
            width: 100% !important;
        }

        .django-ckeditor-widget, #cke_id_description {
            max-width: 100%;
        }
    }
}