.card-list {
    position: relative;

    &__content {
        margin: 15px 0;
        position: relative;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: #fff;
        opacity: 0.8;
        z-index: 5;
        display: none;
    }

    &__filter-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        box-sizing: border-box;
        width: 100%;
        border: 1px solid #000;
        border-bottom-width: 2px;
        border-right-width: 2px;
        border-top: none;
        margin: 0 0 25px 0;

        &.m-to-learn {
            border-color: mainColor(0.6);
        }

        &.m-new {
            border-color: mainColor(0.6);
        }

        &.m-to-repeat {
            border-color: mainColor(0.6);
        }

        &.m-learned {
            border-color: mainColor(0.6);
        }

        &-item {
            flex: 0 0 33%;
            text-align: center;
            /*font-weight: bold;*/
            font-size: 17px;
            transition: background-color 0.2s;
            cursor: pointer;
            color: #555;
            white-space: nowrap;

            &:hover {
                background-color: #f7f7f7;
            }

            &-count {
                position: relative;
                bottom: 4px;
                left: 2px;
                display: inline-block;
                font-size: 12px;
                /*font-weight: bold;*/
                width: 0;
                color: #999;
            }

            &-link.m-active &-count {
                color: #fff;
            }

            &-link {
                display: block;
                text-decoration: none;
                padding: 11px 0;
                color: #555;

                &.m-to-learn.m-active {
                    background-color: mainColor(0.6);
                    color: #fff;
                }

                &.m-to-repeat.m-active {
                    background-color: mainColor(0.6);
                    color: #fff;
                }

                &.m-learned.m-active {
                    background-color: mainColor(0.6);
                    color: #fff;
                }
            }
        }
    }

    &__modeswitch {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        box-sizing: border-box;
        width: 100%;
        border: 1px solid #000;
        border-bottom-width: 2px;
        border-right-width: 2px;
        margin: 0;

        &.m-normal {
            border-color: orange;
        }

        &.m-repeat {
            border-color: green;
        }

        &-item {
            flex: 1 0 50%;
            text-align: center;
            padding: 10px 0;
            /*font-weight: bold;*/
            font-size: 18px;
            transition: background-color 0.2s;
            cursor: pointer;
            color: #555;

            &:hover {
                background-color: #f7f7f7;
            }

            &.m-normal.m-active {
                background-color: orange;
                color: #fff;
            }

            &.m-repeat-right.m-active {
                background-color: green;
                color: #fff;

                &::after {
                    display: inline-block;
                    position: relative;
                    right: -10px;
                    bottom: 1px;
                    width: 0;
                    content: '▶';
                    font-size: 12px;
                }

                &:hover {
                    background-color: #007000;
                }
            }

            &.m-repeat-left.m-active {
                background-color: green;
                color: #fff;

                &::before {
                    display: inline-block;
                    position: relative;
                    left: -21px;
                    bottom: 1px;
                    width: 0;
                    content: '◀';
                    font-size: 12px;
                }

                &:hover {
                    background-color: #007000;
                }
            }
        }
    }
}