.card-list {
    position: relative;

    &__content {
        margin: 25px 0;
        position: relative;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: #fff;
        opacity: 0.8;
        z-index: 5;
        display: none;
    }

    &__modeswitch {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        box-sizing: border-box;
        width: 100%;
        border: 1px solid #000;
        border-bottom-width: 2px;
        border-right-width: 2px;
        margin: 25px 0 15px;

        &.m-normal {
            border-color: orange;
        }

        &.m-repeat {
            border-color: green;
        }

        &-item {
            flex: 1 0 50%;
            text-align: center;
            padding: 10px 0;
            /*font-weight: bold;*/
            font-size: 18px;
            transition: background-color 0.2s;
            cursor: pointer;
            color: #555;

            &:hover {
                background-color: #f7f7f7;
            }

            &.m-normal.m-active {
                background-color: orange;
                color: #fff;
            }

            &.m-repeat-right.m-active {
                background-color: green;
                color: #fff;

                &::after {
                    display: inline-block;
                    position: relative;
                    right: -10px;
                    bottom: 1px;
                    width: 0;
                    content: '▶';
                    font-size: 12px;
                }
            }

            &.m-repeat-left.m-active {
                background-color: green;
                color: #fff;

                &::before {
                    display: inline-block;
                    position: relative;
                    left: -21px;
                    bottom: 1px;
                    width: 0;
                    content: '◀';
                    font-size: 12px;
                }
            }
        }
    }
}