.content {
    container()
    position: relative;
    /*margin-top: 15px;*/
    margin-bottom: 35px;

    &__overlay {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: #fff;
        opacity: 0.92;
        z-index: 5;
    }
}