<!doctype html>
<html lang="ru" class="html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">      
    <title>{% block pagetitle %}{% if page_title %}{{ page_title }}. {% endif %}{% endblock %}Ингус</title>
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" type="image/x-icon">
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <link rel="stylesheet" href="{{ STATIC_URL }}css/global.min.css"/>
    {% block extrastyles %}{% endblock %}

    {% if debug %}
        <script type="text/javascript" src="{{ STATIC_URL }}frontend/bower_components/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}frontend/scripts/card-create-ajax.js"></script>
    {% else %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/global.min.js"></script>
    {% endif %}

    {% block extrascripts %}{% endblock %}

    {% block extrahead %}{% endblock %}
</head>
<body class="page">
    <header class="header">
        <div class="header__wrapper">
            <a href="/" class="header__logo">Ингус</a>
            {% if user.is_authenticated %}
                {% url "cards:my-card-list" as my_cards_url %}
                <a href="{{ my_cards_url }}" class="header__item {% if request.get_full_path == my_cards_url %}active{% endif %}">Мои карточки</a>
                <span href="/" class="header__item header__item--add">+</span>
                {% include "cards/new_card_form.html" %}
                <a href="/" class="header__item header__item--toright">Выйти</a>
            {% else %}
                <a href="/" class="header__item header__item--toright">Войти</a>
                <a href="/" class="header__item header__item--toright">О сайте</a>
            {% endif %}
        </div>
    </header>

    <section class="content">
    {% block content %}
    {% endblock %}
    </section>

    {% if not debug %}
        {% comment %} Analytics {% endcomment %}
    {% endif %}
</body>
</html>
