<!doctype html>
<html lang="ru" class="html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">      
    <title>{% block pagetitle %}{% if page_title %}{{ page_title }}. {% endif %}{% endblock %}Ингус</title>
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" type="image/x-icon">
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <link rel="stylesheet" href="{{ STATIC_URL }}css/global.min.css"/>
    {% block extrastyles %}{% endblock %}

    {% if debug %}
        <script type="text/javascript" src="{{ STATIC_URL }}frontend/bower_components/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}frontend/scripts/card-create-ajax.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}frontend/scripts/card.js"></script>
    {% else %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/global.min.js"></script>
    {% endif %}

    {% block extrascripts %}{% endblock %}

    {% block extrahead %}{% endblock %}
</head>
<body class="page">
    <header class="header">
        <div class="header__wrapper">
            <ul class="header__menu">
                <li class="header__menu-item"><a href="/" class="header__menu-link header__menu-link--logo">Ингус</a></li>

                {% if user.is_authenticated %}

                {% url "cards:card-list-my" as my_cards_url %}
                <li class="header__menu-item"><a href="{{ my_cards_url }}" class="header__menu-link {% if request.get_full_path == my_cards_url %}active{% endif %}">Мой словарь</a></li>
                <li class="header__menu-item"><span href="/" class="header__menu-link header__menu-link--add">+</span></li>
                {% include "cards/new_card_form.html" %}
                <li class="header__menu-item header__menu-item--fill"></li>
                <li class="header__menu-item"><a href="/" class="header__menu-link">Выйти</a>

                {% else %}

                <li class="header__menu-item header__menu-item--fill"></li>
                <li class="header__menu-item"><a href="/" class="header__menu-link">О сайте</a></li>
                <li class="header__menu-item"><a href="/" class="header__menu-link">Войти</a></li>

                {% endif %}
            </ul>
        </div>
    </header>

    <section class="content">
        {% block content %}
        {% endblock %}
        <div class="content__overlay"></div>
    </section>

    {% if not debug and not user.is_superuser %}
        {% comment %} Analytics {% endcomment %}
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter23664607 = new Ya.Metrika({id:23664607,
                            webvisor:true,
                            clickmap:true,
                            trackLinks:true,
                            accurateTrackBounce:true,
                            trackHash:true});
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript><div><img src="//mc.yandex.ru/watch/23664607" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
    {% endif %}
</body>
</html>
