{% extends "registration/base.html" %}


{% block pagetitle %}Восстановление пароля. {% endblock %}


{% block registration_content %}
    <h1>{{ title }}</h1>
    {% if validlink %}
    <p>Пожалуйста, введите новый пароль дважды, чтобы мы могли убедиться в правильности написания.</p>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Изменить мой парль" />
    </form>
    {% else %}
        <p>Неверная ссылка для восстановления пароля. Возможно, ей уже воспользовались. Пожалуйста, попробуйте восстановить пароль еще раз.</p>
    {% endif %}
{% endblock %}