{% extends "base.html" %}

{% block pagetitle %}Мой профиль. {% endblock %}

{% block header_menu_item_profile_class %}active{% endblock %}

{% block content %}
    <h1 class="profile__title">Мой профиль</h1>

    <div class="profile">
        <div class="profile__name">Имя пользователя: {{ request.user.username }}</div>
        <div>
            <a class="link" href="{% url 'logout' %}">Выйти</a><br>
            <a class="link" href="{% url 'password_change' %}">Изменить пароль</a>
        </div>
    </div>

    <h2 class="profile__subtitle">Мои статьи <a class="link profile__subtitle-link" href="{% url 'articles:article-create' %}">+ Добавить</a></h2>
    <ul class="profile__article-list">
        {% for article in user.article_set.all %}
            <li class="profile__article-list-item">
                <a class="link" href="{% url 'articles:article-update' pk=article.pk %}">{{ article.name }}</a>
            </li>
        {% empty %}
            <li class="profile__article-list-item">У Вас нет статей</li>
        {% endfor %}
    </ul>

    <h2 class="profile__subtitle">Моя статистика</h2>
    <div class="">Всего карточек: {{ request.user.learning_card_set.count }}</div>


    <h2 class="profile__subtitle">Мои приглашения</h2>
    <ul class="profile__invite-list">
        {% for invite in user.invite_set.all %}
            <li class="profile__invite-list-item">
                {{ invite.code }} – {% if invite.registered_user %}Использовано{% else %}Не использовано{% endif %}
            </li>
        {% empty %}
            <li>У Вас нет приглашений</li>
        {% endfor %}
    </ul>
{% endblock %}
