<section class="card-list">
    <ul class="card-list__modeswitch {% if mode == 'repeat-right' %}m-repeat m-repeat-right{% elif mode == 'repeat-left' %}m-repeat m-repeat-lef{% else %}m-normal{% endif %}">
        <li class="card-list__modeswitch-item m-normal {% if not mode == 'repeat-right' and not mode == 'repeat-left' %}m-active{% endif %}" data-mode="normal">Изучение</li>
        <li class="card-list__modeswitch-item m-repeat {% if mode == 'repeat-right' %}m-repeat-right m-active{% elif mode == 'repeat-left' %}m-repeat-left m-active{% endif %}" data-mode="repeat">Повторение</li>
    </ul>

    <div class="card-list__content">

        {% if is_paginated %}{% load paginator %}{% paginator 2 %}{% endif %}

        <ul class="card-list__list">
            {% for card in card_list %}
                {% include "cards/card.html" %}
            {% endfor %}
        </ul>

        {% if is_paginated %}{% load paginator %}{% paginator 2 %}{% endif %}

        <div class="card-list__overlay"></div>
    </div>
</section>