{% if card %}
    <div class="card__content {% if user.is_authenticated and card.learner == user and not mode == 'repeat-right' and not mode == 'repeat-left' %}editable{% endif %}">
        <div class="card__top">
            <span class="card__front">
                <span class="card__front-word">{{ card.front.text }}</span>
                {% if card.front.pronunciation %}
                    <span class="card__front-pron {% if card.front.audio %}with-audio{% endif %}">{{ card.front.pronunciation }}</span>
                {% endif %}
                {% if card.front.audio %}
                    <audio class="card__audio" src="{{ card.front.audio.url }}" preload="auto"></audio>
                {% endif %}
            </span><!--
         --><span class="card__back {% if mode == 'repeat-right' %}m-hide{% endif %}">{{ card.back }}</span>
        </div>

        <span class="card__level level{{ card.level }} {% if card.is_repeated_today %}m-repeated-today{% endif %}" data-level="{{ card.level }}">{% if card.level %}{{ card.level }}{% endif %}</span>

        {% if card.example %}
            <div class="card__example {% if mode == 'repeat-right' or mode == 'repeat-left' %}m-hide{% endif %}">{{ card.example|linebreaksbr }}</div>
        {% endif %}

        {% if card.image %}
            {% load thumbnail %}
            {% thumbnail card.image 506x300  quality=80 as thumb %}
            <img class="card__image {% if mode == 'repeat-right' or mode == 'repeat-left' %}m-hide{% endif %}" src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ thumb.height }}">
        {% endif %}
    </div>

    <ul class="card__controls card__controls--level-change" style="display: none;">
        <li class="card__controls-item">
            <form class="card__form--level" action="{% url 'cards:card-update-level' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="pk" value="{{ card.pk }}">
                <input type="hidden" name="level" value="up">
                <button class="card__button card__button--learned" {% if card.is_repeated_today %}disabled{% endif %}>Вспомнил</button>
            </form>
        </li>
        <li class="card__controls-item">
            <form class="card__form--level" action="{% url 'cards:card-update-level' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="pk" value="{{ card.pk }}">
                <input type="hidden" name="level" value="down">
                <button class="card__button card__button--forget" {% if card.is_repeated_today %}disabled{% endif %}>Не вспомнил</button>
            </form>
        </li>
    </ul>

    {% if user.is_authenticated and card.learner == user %}
        <div class="card__infomenu" style="display: none;">
            <ul class="card__infoline">
                <li class="card__infoline-item">Добавлена: {{ card.created|date:"d.m.Y" }}</li>
                {% if card.last_repeat %}<li class="card__infoline-item">Повторена: {{ card.last_repeat|date:"d.m.Y" }}</li>{% endif %}
                <li class="card__infoline-item">Повторений: {{ card.repeat_count }}</li>
            </ul>

            <ul class="card__controls card__controls--edit">
                <li class="card__controls-item">
                    <form class="card__form--level" action="{% url 'cards:card-update-level' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="pk" value="{{ card.pk }}">
                        <input type="hidden" name="level" value="up">
                        <button class="card__button card__button--learned" {% if card.is_repeated_today %}disabled{% endif %}>Запомнил</button>
                    </form>
                </li>
                <li class="card__controls-item">
                    <form class="card__form--level" action="{% url 'cards:card-update-level' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="pk" value="{{ card.pk }}">
                        <input type="hidden" name="level" value="down">
                        <button class="card__button card__button--forget" {% if card.level == 1 %}disabled{% endif %}>Забыл</button>
                    </form>
                </li>
                <li class="card__controls-item"><span class="card__button card__button--edit">Редактировать</span></li>
                <li class="card__controls-item">
                    <form class="card__form--delete" action="{% url 'cards:card-delete' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="pk" value="{{ card.pk }}">
                        <button class="card__button card__button--remove">Удалить</button>
                    </form>
                </li>
            </ul>
        </div>


        <form action="{% url 'cards:card-update' %}" method="post" class="card__form card__form--update" style="display: none;">
            {% csrf_token %}
            {% include 'cards/card_edit_form.html' %}
            <input type="hidden" name="pk" value="{{ card.pk }}">

            <ul class="card__controls">
                <li class="card__controls-item card__controls-item--single"><input type="submit" value="Сохранить" class="card__button card__button--add"></li>
            </ul>

            <div class="card__overlay" style="display: none;"></div>
        </form>


    {% endif %}
{% endif %}

<div class="card__overlay m-full"></div>
<div class="card__overlay m-right {% if mode == 'repeat-right' %}m-active{% endif %}">Показать</div>
<div class="card__overlay m-left {% if mode == 'repeat-left' %}m-active{% endif %}">Показать</div>