<section class="card-list">
    <ul class="card-list__modeswitch {% if repeat_right_mode %}m-repeat m-repeat-right{% elif repeat_left_mode %}m-repeat m-repeat-lef{% else %}m-normal{% endif %}">
        <li class="card-list__modeswitch-item m-normal {% if not repeat_right_mode and not repeat_left_mode %}m-active{% endif %}" data-mode="normal">Обзор</li>
        <li class="card-list__modeswitch-item m-repeat {% if repeat_right_mode %}m-repeat-right m-active{% elif repeat_left_mode %}m-repeat-left m-active{% endif %}" data-mode="repeat">Повторение</li>
    </ul>

    <div class="card-list__content">

        {% if is_paginated %}{% load paginator %}{% paginator 2 %}{% endif %}

        <ul class="card-list__list">
            {% for card in card_list %}
                {% include "cards/card.html" %}
            {% endfor %}

            {% if user.is_authenticated %}
                {% include "cards/card.html" %}
            {% endif %}
        </ul>

        {% if is_paginated %}{% load paginator %}{% paginator 2 %}{% endif %}

        <div class="card-list__overlay"></div>
    </div>
</section>