{% extends "base.html" %}


{% block content %}
	<article class="deck">
        {% if deck.image %}
            {% load thumbnail %}
            {% thumbnail deck.image 550x0  quality=80 as thumb %}
            <img class="deck__image" src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ thumb.height }}">
        {% endif %}
        <h1 class="deck__title">{{ deck.name }}</h1>
        {{ deck.description|safe }}
    </article>


    {% with card_list=deck.card_set.all %}
        {% if card_list %}
            {% include "cards/card_list.html" %}
        {% endif %}
    {% endwith %}
{% endblock %}
