<form action="{% url 'cards:card-create' %}" method="post" class="card card--form" style="display: none;">
    {% csrf_token %}
    <div class="card__content">
        <div class="card__top">
            <span class="card__front">
                <input class="card__form-input" placeholder="Слово" maxlength="255" name="front" type="text" autocomplete="off" required>
            </span><!--
         --><span class="card__back">
                <input class="card__form-input" placeholder="Перевод" maxlength="255" name="back" type="text" autocomplete="off">
            </span>
        </div>
    </div>

    <ul class="card__controls">
        <li class="card__controls-item card__controls-item--single"><input type="submit" value="Добавить" class="card__button card__button--add"></li>
    </ul>

    <div class="card__overlay"></div>
</form>